*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


@media (max-width:680px){
    main{
        background-color: #f4edea;
    }
    .header{
        background-color: #541554;
        display: flex;
        justify-content: space-around;
        gap: 300px;
    }
    .main-first{
        background: #541554;
        color: white;
        height: 400px;
        text-align: center;
        justify-content: center;
    }
    .burger{
        height: 20px;
        width: 20px;
        margin-top: 20px;
    }
    #google{
        background-color: #4285f4;
        align-items: center;
    }
    .thinking{
        padding-top: 30px;
    }
    .connect{
       margin-bottom: 60px; 
    }
    .button{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 15px;
        height: 40px;
        width: 90%;
        align-items: center;
        position: relative;
        line-height: 33px;
    }
    .register{
        display: flex;
        flex-direction: row;
    }
    .image1{
        width: 30px;
        position: absolute;
        left: 3%;
        top: 9%;
    }
    .foto2{
        width: 100%;
        margin-bottom: 60px;
    }
    .companies{
        text-align: center;
    }

    .logo{
        display: block;
        max-width: 180px;
        max-height: 80px;
        width: auto;
        height: auto;
        margin: 15px;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .line{
        width: 30%;
        margin-left: 35%;
    }
    .mainThird{
         font-size: 12px;
         font-weight: lighter;
         font-style: italic;
         border: 3px solid purple;
         border-radius: 10%;
         width: 38%;
         height: 290px;
         margin-bottom: 50px;
         }
    .imageVentas{
        border-radius: 28px;
        margin-left: 2px;
        }
    .team{
        text-align: center;
    }
    .salesTeam{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .lineTwo{
        margin-top: 10px;
        color: lightgray;
        border: lightgray;
        text-shadow: lightgray;
        border: solid lightgray 3px;
        height: 0px;
        width: 60px;
        border-radius: 18%;
        }
    .lineThree{
        margin-top: 10px;
        color: lightgray;
        border: lightgray;
        text-shadow: lightgray;
        border: solid lightgray 3px;
        height: 0px;
        width: 60px;
        border-radius: 18%;
        }
    .info{
        text-decoration: none;
        
        }
    .mainForth{
        margin-top: 40px;
        font-size: 15px;
        line-height: 20px;
        text-align: left;
        background-color:;
        margin-right: 50px;
        margin-bottom: 60px;
    }
    .meetTeam{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .meet{
        text-decoration: none;
        line-height: 25px;
        margin-right: 25px;
    }
    .select{
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        line-height: 40px;
    }
    .how{
        font-size: 10px;
    }
    .main-sixth{
        margin-top: 90px;
        margin-bottom: 20px;
        margin-left: 90px;
        font-size: 17px;
        line-height: 23px;
        text-align: right;
        margin-bottom: 80px;
    }
    .percentages{
        margin: auto;
        margin-top: 60px;
        font-size: 14px;
        width: 200px;
        margin-bottom: 60px;
    }
    .percentage{
        color: #541554;
        text-align: center;
        font-size: 37px;
    }
    .ending{
        font-size: 8px;
    }

    .list{
        list-style: none;
    }
    .imagenJunta{
        margin-left: ;
    }
    .choose{
        font-size: 9px;
    }
    .ending{
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        line-height: 15px;
    }
    .trust{
        font-size: 27px;
        margin-bottom: 20px;
    }
    .main-fifth{
        background-color: white;
        padding-top: 70px;
        text-align: center;
        margin-top: 46px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .buttonSecond{
        display: flex;
        flex-direction: column;
        font-size: 9px;
        margin-top: 2%;
        margin-left: 60px;
        height: 35px;
        width: 80%;
        align-items: center;
        position: relative;
        line-height: 33px;
    }
    .video{
        margin-right: 90px;
        border-top-right-radius: 47%;
        border-bottom-right-radius: 47%;
    }
    .mainNinth{
        background-color: white;
        padding: 70px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .mainNinth:hover{
        transform: scale(1.02);
    }
    .ninthTitle{
        margin-bottom: 30px;
    }
    .functions{
        color: grey;
        text-align: left;
        margin-top: 20px;
        margin-left: 85px;
    }
    .look{
        padding: 7%;
        margin-left: 62px;
        margin-right: 55px;
        text-align: left;
    }
    .examine{
        color: #1264a3;
        text-align: left;
        margin-left: 22%;
        font-size: 12px;
    }
    .mainTenth{
    background-color: #541554;
    margin-top: 30px;
    padding-top: 10px;
    height: 220px;
    color: white;
    clip-path: ellipse(115% 100% at center top);
}
    .findOut{
        padding-top: 30px;
        margin-bottom: 40px;
        font-size: 20px;
    }
    .buttonThird{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 20px;
    font-size: 9px;
    height: 34px;
    width: 90%;
    align-items: center;
    position: relative;
    line-height: 33px;
    }
    .mainEigth{
        margin-top: 50px;
        text-align: left;
    }
    .technologic{
        font-style: italic;
        font-size: 19px;
    }
    .matt{
        font-weight: bold;
        margin-top: 15px;
    }
    .director{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .clients{
        text-decoration: none;
    }
    .average{
        margin-top: 30px;
        text-align: center;
        color: grey;
        font-size: 11px;
    }
    .logoSlack{
        width: 70px;
        height: 60px;
    }
    .firstFooter{
        
    }
}